.site-claim {
  clear: left;
  margin-left: 0rem;
}

.back-to-top-small {
  text-align: center;
}

#goto_prev {
  float:right;
  margin-right:2rem;
}

#info_bar_right {
 padding-left: 3rem;
}

#footer {
 height: 10rem;
}

.search-details {
    margin-left: 15px;
}

.item_short_icon {
    display: inline-block;
    width: 30px;
}
